header {
    font-family: "Noto Sans KR", sans-serif;

}

.header_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #04aa6d
}

.header_bar_top {
    display: flex;
    justify-content: space-between;
}

.header_bar_top div {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 5px;
}

.mainlogo {
    font-family: "Black Han Sans", sans-serif;
    font-size: xx-large;
}

.per_or_bus_button {
    margin-left: 20px;
}

.business_button {
    background-color: #04aa6d;
    border: 0;
    height: 30px;
    border-radius: 15px;
    width: 90px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}

.person_button {
    background-color: #04aa6d;
    border: 0;
    height: 30px;
    border-radius: 15px;
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.login_btn:hover {
    border: 1px solid;
    background-color: #D9EEE1;
    border-color: #D9EEE1;
    transition: 0.1s;
    color: black;

}

.person_button:hover {
    border: 1px solid;
    background-color: #D9EEE1;
    border-color: #D9EEE1;
    transition: 0.1s;
    color: black;
}


.business_button:hover {
    border: 1px solid;
    background-color: #D9EEE1;
    border-color: #D9EEE1;
    transition: 0.1s;
    color: black;
}

.header_bar_bottom {
    align-items: left;
    padding-left: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #282a35;
    color: black;
    font-weight: bold;
}

.header_bar_bottom a {
    margin-right: 15px;
}

.calculator_button {
    font-size: 20px;
}

.header_bar_top_right {
    display: flex;
    justify-content: flex-end;
}

.header_bar_top_right a {
    margin-right: 12px;
}

/*  */
.login_btn {
    background-color: #04aa6d;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    height: 30px;
    border-radius: 15px;
    width: 70px;
    color: white;
}